.nav-pills .heading.active,
.nav-pills .show>.heading {
    background-color: transparent;
    position: relative;
    font-weight: 600;
}

.nav-pills .heading.active::after,
.nav-pills .show>.heading::after {
    content: '';
    width: 40px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.heading {
    transition: all 0.4s;
}

.heading:hover {
    color: white;
}

.heading::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s;
}

.heading:hover::after {
    width: 80%;
    margin: auto;
}
@media(max-width:992px){
    ul li{
        width: 100%;
    }
    .heading:hover::after {
        width: 100%;
        margin: auto;
    }
}
